/* *{
    width: 0%;
    height: 0%;
    background-color: beige;
} */
h1{
    text-align: center;
    color: brown;
}
label{
    text-align: center;
    color: brown;
    margin-left: 600px;
}
input{
    text-align: center;

    margin-left: 600px;
}