h1 {
    text-align: center;
    color: grey;
    background-color: aquamarine;
}
h3{
    text-align: center;
    color: red;
}
input {
    color: green;
    text-align: center;
    margin-left: 600px;
}